<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
%checkout
  - if payment.id.present?
    %reference= payment.id
  - if payment.extra_amount.present?
    %extraAmount= payment.extra_amount
  - if payment.redirect_url.present?
    %redirectURL= payment.redirect_url
  - if payment.max_uses.present?
    %maxUses= payment.max_uses
  - if payment.max_age.present?
    %maxAge= payment.max_age

  %currency BRL

  %items
    - items.each do |item|
      %item
        %id= item.id
        %description&= item.description
        %amount= item.amount
        %quantity= item.quantity
        - if item.shipping_cost.present?
          %shippingCost= item.shipping_cost
        - if item.weight.present?
          %weight= item.weight

  - if sender.present?
    %sender
      - if sender.name.present?
        %name= sender.name
      - if sender.email.present?
        %email= sender.email
      %phone
        - if sender.phone_ddd.present?
          %areaCode= sender.phone_ddd
        - if sender.phone_number.present?
          %number= sender.phone_number

  - if shipping.present?
    %shipping
      %type= shipping.type
      - if shipping.cost.present?
        %cost= shipping.cost
      %address
        %country BRA
        - if shipping.state.present?
          %state= shipping.state
        - if shipping.city.present?
          %city= shipping.city
        - if shipping.postal_code.present?
          %postalCode= shipping.postal_code
        - if shipping.district.present?
          %district= shipping.district
        - if shipping.street.present?
          %street= shipping.street
        - if shipping.number.present?
          %number= shipping.number
        - if shipping.complement.present?
          %complement= shipping.complement

  - if pre_approval.present?
    %preApproval
      %name= pre_approval.name
      %finalDate= pre_approval.final_date.iso8601
      %maxAmountPerPeriod= pre_approval.max_amount_per_period
      %maxTotalAmount= pre_approval.max_total_amount
      %period= pre_approval.period
      - if pre_approval.weekly?
        %dayOfWeek= pre_approval.day_of_week
      - if pre_approval.monthly?
        %dayOfMonth= pre_approval.day_of_month
      - if pre_approval.yearly?
        %dayOfYear= pre_approval.day_of_year
      - if pre_approval.details.present?
        %details= pre_approval.details
      - if pre_approval.amount_per_payment.present?
        %amountPerPayment= pre_approval.amount_per_payment
      - if pre_approval.initial_date.present?
        %initialDate= pre_approval.initial_date.iso8601
      - if pre_approval.review_URL.present?
        %reviewURL= pre_approval.review_URL
